.DS_Store
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

sample_carbon_emision_api/node_modules
sample_carbon_emision_api/dist
sample_carbon_emision_api/build
sample_carbon_emision_api/coverage
sample_carbon_emision_api/logs
sample_carbon_emision_api/logs/*
sample_carbon_emision_api/logs/*.log
sample_carbon_emision_api/logs/*.log.*
sample_carbon_emision_api/logs/*.log.*.*